const path = require('path')

const NAMESPACE = "estimator"
const INTERPRETER = '/absolute/path/to/interpreter' // OR binary name like `node`

module.exports = {
    apps: [
        {
            name: `Next Block`,
            namespace: NAMESPACE,
            script: './server.mjs',
            cwd: path.join(__dirname),
            interpreter: INTERPRETER,
            env: {
                PORT: 8080,
            },
            out_file: './output-2024-01-01.log',
            error_file: './error-2024-01-01.log',
            stop_exit_codes: 0,
            listen_timeout: 5000,
            kill_timeout: 3000,
            time: true,
        }
    ]
}
